---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import { YouTube } from 'astro-embed';

const latestVideoId = "UHEpP6feeUE";
---
<BaseLayout title="DragmireXI | Home">
    <h1 class="hero-title">DragmireXI</h1>
    <p>Zelda Lore | Projects | Gaming Reviews</p>
    
    <hr />

    <div class="site-description">
        <p>
            Welcome to the domain of DragmireXI. This site is just a personal project of mine so 
            I will post about things I care about. Video gaming topics in my sphere of
            interests include The Legend of Zelda, Final Fantasy, the Remedyverse, and RuneScape.
        </p>
        <p>I have some things I would like to do:</p>
        <div class="goals-container">
            <ul class="goals-list">
                <li>
                    Zelda theory review videos
                </li>
                <li>
                    Zelda timeline &amp; general theory review blog posts
                </li>
                <li>
                    Video game collection tracker webapp
                </li>
                <li>
                    FFXI Luashitacast tutorials
                </li>
                <li>
                    Video game reviews
                </li>
                <li>
                    Forum?
                </li>
            </ul>  
        </div>   
        <p>
            Please stay tuned for more.
        </p>
    </div>
    
    <div class="video-section">
        <h2 class="hero-title">Featured Video</h2>
        <YouTube id={latestVideoId} />
    </div>

    <div class="socials">
        <a href="https://www.youtube.com/@DragmireXI" class="yt-button">Visit Channel</a>
    </div>
</BaseLayout>

<style>
    .hero-title {
        background: linear-gradient(to bottom, var(--ganon-red), var(--power-gold));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(2px 2px 5px var(--malice-purple));
    }
    .video-section {
        margin: 3rem auto;
        max-width: 720px;
    }
    .goals-container {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    }

    .goals-list {
        text-align: left;
        display: inline-block;
        line-height: 1.8;
    }

    .goals-list li {
        margin-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
</style>