---
const myName = "DragmireXI";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>DragmireXI</title>
        <style>
            body {
                background: #13151a; 
				color: white; 
				display: flex; 
				justify-content: center; 
				align-items: center; 
				height: 100vh; 
				margin: 0;
				font-family: sans-serif;
            }
            div { text-align: center; border: 1px solid #333; padding: 2rem; border-radius: 8px; }
			h1 { color: #ff3e00; }
        </style>
    </head>
    <body>
        <div>
            <h1>{myName}</h1>
            <p>Coming Soon</p>
            <small>Built with Astro + Cloudflare.</small>
        </div>
    </body>
</html>